

NET "MISO" LOC = P9;
NET "MOSI" LOC = P30;
NET "SCLK" LOC = P85;
NET "SS" LOC = P98;
NET "CLKIN48" LOC = P90;
NET "PORT_B[7]" LOC = P93;
NET "PORT_B[6]" LOC = P37;
NET "PORT_B[5]" LOC = P41;
NET "PORT_B[4]" LOC = P46;
NET "PORT_B[3]" LOC = P49;
NET "PORT_B[2]" LOC = P77;
NET "PORT_B[1]" LOC = P78;
NET "PORT_B[0]" LOC = P40;
NET "PORT_D[7]" LOC = P10;
NET "PORT_D[6]" LOC = P13;
NET "PORT_D[5]" LOC = P15;
NET "PORT_D[4]" LOC = P12;
NET "PORT_D[3]" LOC = P44;
NET "PORT_D[2]" LOC = P5;
NET "PORT_D[1]" LOC = P4;
NET "PORT_D[0]" LOC = P6;
NET "RDY0" LOC = P3;
NET "IFCLK" LOC = P84;
NET "CTL0" LOC = P94;

NET "PROBE[0]" LOC = P28;
NET "PROBE[1]" LOC = P29;
NET "PROBE[2]" LOC = P32;
NET "PROBE[3]" LOC = P33;
NET "PROBE[4]" LOC = P34;
NET "PROBE[5]" LOC = P36;
NET "PROBE[6]" LOC = P43;
NET "PROBE[7]" LOC = P50;
NET "PROBE[8]" LOC = P52;
NET "PROBE[9]" LOC = P56;
NET "PROBE[10]" LOC = P57;
NET "PROBE[11]" LOC = P60;
NET "PROBE[12]" LOC = P61;
NET "PROBE[13]" LOC = P62;
NET "PROBE[14]" LOC = P64;
NET "PROBE[15]" LOC = P65;

NET "LED" LOC = P73;

NET "CLKIN48" TNM_NET = CLKIN48;
TIMESPEC TS_CLKIN48 = PERIOD "CLKIN48" 48 MHz HIGH 50%;

NET "IFCLK" TNM_NET = IFCLK;
TIMESPEC TS_IFCLK = PERIOD "IFCLK" 48 MHz HIGH 50%;


