NET "PROBE[0]" IOSTANDARD = LVCMOS33;
NET "PROBE[1]" IOSTANDARD = LVCMOS33;
NET "PROBE[2]" IOSTANDARD = LVCMOS33;
NET "PROBE[3]" IOSTANDARD = LVCMOS33;
NET "PROBE[4]" IOSTANDARD = LVCMOS33;
NET "PROBE[5]" IOSTANDARD = LVCMOS33;
NET "PROBE[6]" IOSTANDARD = LVCMOS33;
NET "PROBE[7]" IOSTANDARD = LVCMOS33;
NET "PROBE[8]" IOSTANDARD = LVCMOS33;
NET "PROBE[9]" IOSTANDARD = LVCMOS33;
NET "PROBE[10]" IOSTANDARD = LVCMOS33;
NET "PROBE[11]" IOSTANDARD = LVCMOS33;
NET "PROBE[12]" IOSTANDARD = LVCMOS33;
NET "PROBE[13]" IOSTANDARD = LVCMOS33;
NET "PROBE[14]" IOSTANDARD = LVCMOS33;
NET "PROBE[15]" IOSTANDARD = LVCMOS33;
